
<form class="login-form"  >
  <h1 class="login-form__title">Login</h1>


  <label class="input-box">
    <input   type="text" placeholder="Email address" required>
  </label>


  <label class="input-box">
    <input  type="password" placeholder="Password" required>
  </label>

  <div class="remember">
    <label> <input type="checkbox">Remember me</label>
    <a href="#">Forgot password?</a>
  </div>

  <button type="submit" class="btn-login" (click)="login()" >Login</button>

  <div class="register-link">
    <p>Don't have an account? <a href="#">Register</a></p>
  </div>
</form>
